body{
    background: linear-gradient(180deg, #6082B6, #F28C28); 
    background-attachment: fixed;
}
#alap{
    width: 600px;
    height: 500px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a:hover{
    font-weight: bold;
}

p{
    font-size: 1.7rem;
    font-weight: bold;
}
